# Зависимости, устанавливаются внутри контейнера
node_modules

# Результаты сборки Next.js 
.next

# Локальные настройки IDE/редактора
.vscode
*.swp

# Логи и временные файлы
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы Docker 
Dockerfile
.dockerignore

# Репозиторий Git
.git
.gitignore

# Переменные окружения 
.env*